@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	@apply text-base overflow-hidden;
	font-family: var(--font-zen), sans-serif;
	color: rgb(var(--foreground-rgb));

	background-color: #0e0f0f;

	@media (max-width: 1200px) {
		font-size: 16px;
	}

	@media (max-width: 992px) {
		font-size: 14px;
	}
}

::-webkit-scrollbar {
	width: 12px;
  background-color: #0E0F0F;
}

::-webkit-scrollbar-thumb {
  background-color: #1e1e1e;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: #1e1e1e;
  border-radius: 4px;
}

@layer utilities {
  .horizontal-scrollbar::-webkit-scrollbar {
    height: 8px;
  }

  .horizontal-scrollbar::-webkit-scrollbar-thumb {
    background-color: #1e1e1e;
    border-radius: 4px;
  }

  .horizontal-scrollbar::-webkit-scrollbar-track {
    background-color: #5f6363;
  }
}

@layer base {
  :root {
		--radius: 0.5rem;
		--sidebar-background: 0 0% 98%;
		--sidebar-foreground: 240 5.3% 26.1%;
		--sidebar-primary: 240 5.9% 10%;
		--sidebar-primary-foreground: 0 0% 98%;
		--sidebar-accent: 240 4.8% 95.9%;
		--sidebar-accent-foreground: 240 5.9% 10%;
		--sidebar-border: 220 13% 91%;
		--sidebar-ring: 217.2 91.2% 59.8%;
	}
  .dark {
		--sidebar-background: 240 5.9% 10%;
		--sidebar-foreground: 240 4.8% 95.9%;
		--sidebar-primary: 224.3 76.3% 48%;
		--sidebar-primary-foreground: 0 0% 100%;
		--sidebar-accent: 240 3.7% 15.9%;
		--sidebar-accent-foreground: 240 4.8% 95.9%;
		--sidebar-border: 240 3.7% 15.9%;
		--sidebar-ring: 217.2 91.2% 59.8%;
	}
}